.app__menuitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuitem__line{
    width: 90px;
    height: 2px;
    background-color: gold;
    margin: 0 1rem;
}

.app__menuitem-price{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1150px){
    .app__menuitem h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 2000px){
    .app__menuitem h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 660px){
    .app__menuitem h1{
        font-size: 2rem;
    }
}